@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");
@import "tailwindcss";

@theme {
	--font-playful: "DynaPuff", cursive;
}

.puffy-text {
	text-shadow:
		0px 3px 0px #000000,
		0px 6px 4px rgba(0, 0, 0, 0.3);
}
